@model IEnumerable<Abacus.Models.Cart>

@{
    int totalCount = Model.Count();
    //string format = "Cart {0} ($ {1})";
    string format = "Cart <a href='/Carts/Details?Id={1}'>{0}</a> ($ {2})";
}


@for (int ii = 0; ii < 5; ii++)
{
    <div class="row">
        @if (ii < totalCount)
        {
            //string txt = string.Format(format, Html.ActionLink(Model.ElementAt(ii + 0).CartNumber.ToString(), "Edit", new { id = Model.ElementAt(ii + 0).Id }), Model.ElementAt(ii).TotalValue);
            string txt = string.Format(format, Model.ElementAt(ii + 0).CartNumber, Model.ElementAt(ii + 0).Id, Model.ElementAt(ii).TotalValue);
            <div class="col-sm-4">
                <ul>
                    <li>
                        <label>@Html.Raw(txt)</label>
                    </li>
                </ul>
            </div>
        }
        @if (ii + 5 < totalCount)
        {
            //string txt = string.Format(format, Html.ActionLink(Model.ElementAt(ii + 5).CartNumber.ToString(), "Edit", new { id = Model.ElementAt(ii + 5).Id }), Model.ElementAt(ii).TotalValue);
            string txt = string.Format(format, Model.ElementAt(ii + 5).CartNumber, Model.ElementAt(ii + 5).Id, Model.ElementAt(ii).TotalValue);
            <div class="col-sm-8">
                <ul>
                    <li>
                        <label>@Html.Raw(txt)</label>
                    </li>
                </ul>
            </div>
        }
        @if (ii + 10 < totalCount)
        {
            string txt = string.Format(format, Html.ActionLink(Model.ElementAt(ii + 10).CartNumber.ToString(), "Edit", new { id = Model.ElementAt(ii + 10).Id }), Model.ElementAt(ii).TotalValue);
            <div class="col-sm-12">
                <ul>
                    <li>
                        <label>@Html.Raw(txt)</label>
                    </li>
                </ul>
            </div>
        }
    </div>
}






