@model IEnumerable<Abacus.ViewModel.TransactionVM>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th></th> @*I have no idea why I need to add another column, problem for another day*@
                <th>Seller</th>
                <th>Item Total</th>
                <th>Shipping Total</th>
                <th>Tracking Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row" id="@string.Format("XAct{0}",item.Id)">
                    @Html.Partial("_TransactionListItem", item)
                </tr>
            }
        </tbody>
</table>
</div>