@model Abacus.ViewModel.UserVM

<td>@Model.UserName</td>
<td>@Model.Role</td>
<td>
    <button type="button" class="btn" onclick="EditUser('@Model.Id')">Edit</button>
    <button type="button" class="btn" onclick="DeleteUser('@Model.Id')">Delete</button>
</td>
